/*      Made By Ali Aldayel
        Coursera Week 2
        Final Assignment        */

/* Importing Fonts (Just a touch) */
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

/* -- General CSS -- */

:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    /* Just adding a few colors that I might want to change quickly */
    --bg-color: rgb(255, 232, 181);
    --primary: rgb(52, 0, 36);
    --secondary: rgb(254, 227, 109);
    --shadow1: rgb(236, 208, 79);
    --shadow2: rgb(67, 35, 0);
}

*{
    box-sizing: border-box;
    margin: 0;
    color: var(--primary);
}

body{
    background-color:var(--bg-color);
    margin: 0;
}

/*  I frankly don't know if this makes a difference,
    but I believe it's necessary for scaling */
.row{
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Getting images to resize, used for testing */
img.fluid{
    width:100%;
}

/* -- Phone Grids -- */

@media (max-width: 767px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12{
        float: left;
        padding:1rem;
        position: relative;
    }

    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.33%;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.33%;
    }
    .col-sm-11{
        width: 91.66%;
    }
    .col-sm-12{
        width: 100%;
    }
}

/* -- Tablet Grids -- */

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12{
        float: left;
        padding:1rem;
        position: relative;
    }

    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }
}

/* -- Desktop Grids -- */

@media (min-width: 992px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12{
        float: left;
        padding:1rem;
        position: relative;
    }

    /*  I wanted to try and do what Bootstrap does
        with its fixed container width, instead of
        having my container fluid. I hope that makes
        sense... */
    .container{
        width:992px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
}

/* -- Custom CSS for Style -- */

/* Styling the heading */
h1.main-heading{
    font-family: 'Fascinate', cursive;
    text-align:center;
    font-size: 2rem;
}

/* Trying to make a banner at the top, playing around */
img.banner{
    width:100vw;
    height: 3rem;
    border-bottom: .5rem solid var(--primary);
}

/* Styling for food cards */
.food{
    background-color: var(--secondary);
    border: .2rem solid var(--primary);
    border-radius: 1rem;
}
/* Styling for food-heading, etc.. */
h2.food-heading{
    position: relative;
    padding: .3rem;
    background-color: var(--shadow1);
    margin-bottom: 1rem;
    float: right;
    border-radius: 0 1rem;
    border-left: .2rem solid var(--primary);
    border-bottom: .2rem solid var(--primary);
}
/* Styling for food text (alt colors) */
p.food-text{
    background-color: var(--primary);
    color: var(--bg-color);
    padding: .9rem;
    margin: 1rem;
    text-align: justify;
    border-radius: 1rem;
    clear:right
}

/* Unique colors for each section */
#foodcol1{
    background-color: rgb(255, 114, 171);
}
#foodcol2{
    background-color: rgb(255, 182, 108);
}
#foodcol3{
    background-color: rgb(250, 252, 112);
}